<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.zhangzhihao.SpringMVCSeedProject.Controller">
        <!--springMVC配置 只扫描以下包-->
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/views/"
          p:suffix=".jsp"/>

    <mvc:annotation-driven/>
    <!--打开default-servlet-handler在springMVC找不到对应的映射时会采用默认映射-->
    <mvc:default-servlet-handler/>


    <!--直达相应页面，不经过SpringMVC映射-->
    <!--<mvc:view-controller path="test" view-name="list"/>-->

    <!--静态资源映射-->
    <!--<mvc:resources mapping="/Scripts/**" location="/WEB-INF/js/" />-->

    <!--上传文件需要注册-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <!--<property name="还有很多其他配置"-->
    </bean>

    <!--注册拦截器-->
    <mvc:interceptors>
        <bean class="com.zhangzhihao.SpringMVCSeedProject.Interceptor.AuthInterceptor"/>
    </mvc:interceptors>

    <mvc:interceptors>
        <bean class="com.zhangzhihao.SpringMVCSeedProject.Interceptor.AuthorityByRole"/>
    </mvc:interceptors>

    <!--直接访问“/” 时会跳转的目录-->
    <mvc:view-controller path="/" view-name="forward:/Account/Login"/>
</beans>